{% extends "base.html" %} {% block content %}
<div class="container mt-4" style="max-width: 500px">
  <h2 class="text-success">Додати користувача</h2>

  <form method="POST">
    <div class="mb-3">
      <label class="form-label">Ім’я користувача:</label>
      <input name="username" type="text" class="form-control" required />
    </div>

    <div class="mb-3">
      <label class="form-label">Email:</label>
      <input name="email" type="email" class="form-control" required />
    </div>

    <button class="btn btn-primary">Зберегти</button>
    <a href="{{ url_for('users.list_users') }}" class="btn btn-secondary"
      >Назад</a
    >
  </form>
</div>
{% endblock %}
